<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @report.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @report.quantity %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
